<html>

  <head>
    <meta charset="utf-8">
    <title>Sean LeRoy</title>
    <link text rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <link text/css rel="stylesheet" href="/stylesheets/yeti"> -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link text rel="stylesheet" href="stylesheets/global.css">
    <link text rel="stylesheet" href="stylesheets/stream.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
      href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main2.css">
    <!--===============================================================================================-->
  </head>

  <body>
    <!-- Bootstrap row -->
    <div class="row" id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-container" class="sidebar-expanded d-none
        d-md-block">
        <!-- Bootstrap List Group -->
        <ul class="list-group">
          <!-- Separator with title -->
          <li class="list-group-item sidebar-separator-title
            text-muted d-flex align-items-center">
            <small class="menu-collapsed">MAIN MENU</small>
          </li>
          <!-- /END Separator -->
          <!-- Menu with submenu -->
          <a href="index.html" class="bg-dark list-group-item
            list-group-item-action flex-column
            align-items-start">
            <span class="fa fa-user fa-fw mr-3"></span>
            <span class="menu-collapsed">Home</span>
          </a>
          <a id="contentDropdown" href="#submenu1" data-toggle="collapse"
            aria-expanded="false" class="dropdown bg-dark list-group-item
            list-group-item-action flex-column
            align-items-start">
            <div class="d-flex w-100 justify-content-start
              align-items-center">
              <span class="fa fa-youtube-play fa-fw mr-3"></span>
              <span class="menu-collapsed">Content</span>
              <span id="dropdown-icon1" class="fa fa-angle-right ml-auto
                menu-collapsed"></span>
            </div>
          </a>
          <!-- Submenu content -->
          <div id='submenu1' class="collapse sidebar-submenu">
            <a href="videos.html" class="list-group-item
              list-group-item-action bg-dark text-white">
              <span class="menu-collapsed">Videos</span>
            </a>
            <a href="stream.html" class="list-group-item
              list-group-item-action bg-dark text-white">
              <span class="menu-collapsed">Stream</span>
            </a>
          </div>
          <a id="expDropdown" href="#submenu2" data-toggle="collapse"
            aria-expanded="false" class="dropdown bg-dark list-group-item
            list-group-item-action flex-column
            align-items-start">
            <div class="d-flex w-100 justify-content-start
              align-items-center">
              <span class="fa fa-dashboard fa-fw mr-3"></span>
              <span class="menu-collapsed">Experience</span>
              <span id="dropdown-icon2" class="fa fa-angle-right ml-auto
                menu-collapsed"></span>
            </div>
          </a>
          <!-- Submenu exp -->
          <div id='submenu2' class="collapse sidebar-submenu">
            <a href="exp.html#languages" class="list-group-item
              list-group-item-action bg-dark text-white">
              <span class="menu-collapsed">Languages</span>
            </a>
            <a href="exp.html#experience-education" class="list-group-item
              list-group-item-action bg-dark text-white">
              <span class="menu-collapsed">Education</span>
            </a>
            <a href="exp.html#experience-work" class="list-group-item
              list-group-item-action bg-dark text-white">
              <span class="menu-collapsed">Work</span>
            </a>
          </div>
          <a href="files/sleroyResume.pdf" target="_blank" aria-expanded="false"
            class="bg-dark list-group-item
            list-group-item-action flex-column
            align-items-start">
            <div class="d-flex w-100 justify-content-start
              align-items-center">
              <i class="fa fa-file-pdf-o fa-fw mr-3"></i>
              <span class="menu-collapsed">Download Resume</span>
            </div>
          </a>
          <a href="#" data-toggle="sidebar-collapse" class="bg-dark
            list-group-item list-group-item-action d-flex
            align-items-center">
            <div class="d-flex w-100 justify-content-start
              align-items-center">

              <span id="collapse-icon" class="fa fa-2x mr-3"></span>
              <span id="collapse-text" class="menu-collapsed">Collapse</span>
            </div>
          </a>
        </ul>
        <!-- List Group END-->
      </div>
      <!-- sidebar-container END -->
      <!-- <div id="main">
        <div id="streamContainer" class="row">
          <div class="col">
            <!-- <iframe width="560" height="315"
              src="https://www.youtube.com/embed/live_stream?channel=UC8GBFCNFems1_g4XEE3OVaQ"
              frameborder="1" controls="1" autoplay="1" allowfullscreen></iframe> -->
      <!-- </div>
          <div class="col">
            <button onclick="authenticate().then(loadClient)">authorize and load</button>
            <button onclick="execute()">execute</button>
            <p>Test</p>
          </div>
        </div>
      </div> -->
    </div>
    <!-- <script src="https://apis.google.com/js/api.js"></script>
    <script> -->
    <!-- /**
     * Sample JavaScript code for youtube.liveBroadcasts.list
     * See instructions for running APIs Explorer code samples locally:
     * https://developers.google.com/explorer-help/guides/code_samples#javascript
     */

    function authenticate() {
      return gapi.auth2.getAuthInstance()
        .signIn({ scope: "https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.force-ssl https://www.googleapis.com/auth/youtube.readonly" })
        .then(function () { console.log("Sign-in successful"); },
          function (err) { console.error("Error signing in", err); });
    }
    function loadClient() {
      return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/youtube/v3/rest")
        .then(function () { console.log("GAPI client loaded for API"); },
          function (err) { console.error("Error loading GAPI client for API", err); });
    }
    // Make sure the client is loaded and sign-in is complete before calling this method.
    function execute() {
      return gapi.client.youtube.liveBroadcasts.list({
        "part": "status",
        "broadcastType": "all",
        "id": "UCubOLhTBRsFvrTobl2DwZIQ"
      })
        .then(function (response) {
          // Handle the results here (response.result has the parsed body).
          console.log("Response", response);
        },
          function (err) { console.error("Execute error", err); });
    }
    gapi.load("client:auth2", function () {
      gapi.auth2.init({ client_id: 'AIzaSyDMEjeI2pU25ZngJh_639KdnnsILMtwzi8' });
    }); -->
    <!-- </script> -->
    <!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/9PWu0o-UyLs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <object width="640" height="390">
            <param name="movie"
                   value="https://www.youtube.com/embed/live_stream&channel=UC8GBFCNFems1_g4XEE3OVaQ?version=3&autoplay=1&autohide=1&controls=0"></param>
            <param name="allowScriptAccess" value="always"></param>
            <embed src="https://www.youtube.com/embed/live_stream&channel=UC8GBFCNFems1_g4XEE3OVaQ?version=3&autoplay=1&autohide=1&controls=0
                   type="application/x-shockwave-flash"
                   allowscriptaccess="always"
                   width="640" height="390"></embed>
          </object>
    -->
    <script type="text/javascript" src="script/progressbar.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <script type="text/javascript"
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="script/global.js"></script>
    <!-- <script type="text/javascript" src="script/stream.js"></script> -->
    <!-- /////////////////////////////////////////////////////////// -->
    <div class="bg-g1 size1 flex-w flex-col-c-sb p-l-15 p-r-15 p-t-55 p-b-35
      respon1">
      <span></span>
      <div class="flex-col-c p-t-50 p-b-50">
        <h3 class="l1-txt1 txt-center p-b-10">
          Coming Soon
        </h3>

        <p class="txt-center l1-txt2 p-b-60">
          Our website is under construction
        </p>

        <div class="flex-w flex-c cd100 p-b-82">
          <div class="flex-col-c-m size2 how-countdown">
            <span class="l1-txt3 p-b-9 days">35</span>
            <span class="s1-txt1">Days</span>
          </div>

          <div class="flex-col-c-m size2 how-countdown">
            <span class="l1-txt3 p-b-9 hours">17</span>
            <span class="s1-txt1">Hours</span>
          </div>

          <div class="flex-col-c-m size2 how-countdown">
            <span class="l1-txt3 p-b-9 minutes">50</span>
            <span class="s1-txt1">Minutes</span>
          </div>

          <div class="flex-col-c-m size2 how-countdown">
            <span class="l1-txt3 p-b-9 seconds">39</span>
            <span class="s1-txt1">Seconds</span>
          </div>
        </div>

        <button class="flex-c-m s1-txt2 size3 how-btn" data-toggle="modal"
          data-target="#subscribe">
          Follow us for update now!
        </button>
      </div>

      <span class="s1-txt3 txt-center">
        @ 2017 Coming Soon Template. Designed by Colorlib
      </span>

    </div>

    <!-- Modal Login -->
    <div class="modal fade" id="subscribe" tabindex="-1" role="dialog"
      aria-hidden="true">
      <div class="modal-dialog" role="document" data-dismiss="modal">
        <div class="modal-subscribe where1-parent bg0 bor2 size4 p-t-54 p-b-100
          p-l-15 p-r-15">
          <button class="btn-close-modal how-btn2 fs-26 where1 trans-04">
            <i class="zmdi zmdi-close"></i>
          </button>

          <div class="wsize1 m-lr-auto">
            <h3 class="m1-txt1 txt-center p-b-36">
              <span class="bor1 p-b-6">Subscribe</span>
            </h3>

            <p class="m1-txt2 txt-center p-b-40">
              Follow us for update now!
            </p>

            <form class="contact100-form validate-form">
              <div class="wrap-input100 m-b-10 validate-input" data-validate="Name
                is required">
                <input class="s1-txt4 placeholder0 input100" type="text"
                  name="name" placeholder="Name">
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 m-b-20 validate-input" data-validate="Email
                is required: ex@abc.xyz">
                <input class="s1-txt4 placeholder0 input100" type="text"
                  name="email" placeholder="Email">
                <span class="focus-input100"></span>
              </div>

              <div class="w-full">
                <button class="flex-c-m s1-txt2 size5 how-btn1 trans-04">
                  Get Updates
                </button>
              </div>
            </form>

            <p class="s1-txt5 txt-center wsize2 m-lr-auto p-t-20">
              And don’t worry, we hate spam too! You can unsubcribe at anytime.
            </p>
          </div>
        </div>

      </div>
    </div>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/moment.min.js"></script>
    <script src="vendor/countdowntime/moment-timezone.min.js"></script>
    <script src="vendor/countdowntime/moment-timezone-with-data.min.js"></script>
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <script>
      $('.cd100').countdown100({
          // Set Endtime here
          // Endtime must be > current time
          endtimeYear: 0,
          endtimeMonth: 0,
          endtimeDate: 35,
          endtimeHours: 18,
          endtimeMinutes: 0,
          endtimeSeconds: 0,
          timeZone: "" 
          // ex:  timeZone: "America/New_York", can be empty
          // go to " http://momentjs.com/timezone/ " to get timezone
      });
  </script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $('.js-tilt').tilt({
          scale: 1.1
      })
  </script>
    <!--===============================================================================================-->
    <script src="script/main.js"></script>
  </body>

</html>